.container{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
   
    
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{ 
  width: 85%;
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 19px -3px #919191; 
box-shadow: 1px 2px 19px -3px #919191;
}
@media screen and (max-width: 700px) {
    .wrapper{
        width: 75%;
    }
}

.title{
  font-size: 44px;
  font-weight: 300;
}

.form{

    display: flex;
    flex-direction: column;
}


.input {

    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
}


.button{

    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: #B0D8DA;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
   
  height: 70px;
  left: 460px;
  top: 544.68px;
  
  transform: rotate(-0.07deg);
}


.link{

    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
 
}